.wrapper {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.wrapper .battery {
  margin-top: calc(50% - 150px);
  margin-left: calc(50% - 300px);
  width: 600px;
  height: 300px;
  border: 8px solid black;
  border-radius: 8px;
  position: relative;
  display: inline-block;
}

.wrapper .battery .vidus {
  width: 100%;
  height: 284px;
  display: inline-block;
  background-color: #37ff37;
  animation-name: krovimasis;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(5);
}

.wrapper .battery .vidus .kolonos {
  background-color: white;
  width: 6px;
  height: 284px;
  position: absolute;
}

.wrapper .battery .isore {
  display: inline-block;
  width: 20px;
  height: 70px;
  float: left;
  background-color: black;
  margin-top: -175px;
  margin-left: 584px;
  border-radius: 0px 7px 7px 0px;
}

@keyframes krovimasis {
  0% {
    background-color: red;
    width: 0%;
  }
  100% {
    background-color: #37ff37;
    width: 125%;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
